{erl_opts, [debug_info]}.

{deps_dir, ["apps"]}.

{deps, [{misultin, "0.6.1", {git, "git://github.com/ostinelli/misultin.git", "HEAD"}},
	{tempile, "1", {git, "git://github.com/russelldb/tempile.git -b erlydtl", "HEAD"}}]}.

{sub_dirs, ["apps/misultin", "apps/roller", "rel"]}.

{cover_enabled, true}.

