{erl_opts, [debug_info]}.

{deps_dir, ["apps"]}.

{deps, [{misultin, "0.6.2", {git, "git://github.com/ostinelli/misultin.git", "HEAD"}},
	{tempile, "1", {git, "git://github.com/russelldb/tempile.git -b erlydtl", "HEAD"}},
	{meck, "0.1", {git, "git://github.com/eproxus/meck.git", "HEAD"}},
	{bitcask, "1.1.5", {git, "git://github.com/basho/bitcask.git", "HEAD"}}
	]}.

{sub_dirs, ["apps/misultin", "apps/tempile", "apps/roller", "apps/meck", "apps/erlydtl", "apps/bitcask", "rel"]}.

{cover_enabled, true}.

